Source: ukui-paste
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: jackieliu <liuyun01@kylinos.cn>
Build-Depends: debhelper-compat (= 13),
               qtbase5-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libglib2.0-dev (>= 2.36),
               libgsettings-qt-dev,
               qttools5-dev-tools,
               libbamf3-dev,
               libxrandr-dev,
               libxtst-dev,
               libx11-dev,
               libkf5windowsystem-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui/ukui-paste.git
Vcs-Browser: https://github.com/ukui/ukui-paste
Vcs-Git: https://github.com/ukui/ukui-paste.git

Package: ukui-paste
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Paste tool for UKUI
 ukui-pastes is a modern UI design and lowest learning costs.
 You only need to double-click the Ctrl key to call it to serve you.
